html{
    font-family: serif;
    background-image: url(assets/nationalgamesgroup.jpeg);
    background-size: cover;
}


body{
    margin: 0;
    padding: 0;
    background-color: rgba(0, 0, 0, 0.6);
    height: 100vh;
}

h1{
    font-size: 2.2rem;
}

button{
    all: unset;
    height: 100%;
}

.piece{
    height: 100%;
    transition: filter transform .3s ease-in-out;
    cursor: pointer;
}

.piece:hover{
    filter: brightness(0.9);
    transform: scale(1.05);
}

.flexbox-grid{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.flex-column{
    flex-direction: column;
}

.flex-row{
    flex-direction: row;
}

#layout{
    align-items: center;
    height: 100%;
}

#title{
    height: 100%;
    width: 100%;
    background-color: rgb(211,211,211,0.9);
    display: flex;
    justify-content: center;
    align-items: center;
}

#chessboard{
    height: 600px;
    width: 600px;
}

.row{
    flex: 1;
    height: 75px;
    width: 600px;
}

.column{
    flex: 1;
    height: 75px;
    width: 75px;
    transition: filter .05s ease-in-out;
}

.column:hover{
    filter:brightness(0.8);
}

.light{
    background-color: whitesmoke;
}

.dark{
    background-color: slategray;
}

.modal {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transform: scale(1.1);
  transition: visibility 0s linear 0.25s, opacity 0.25s 0s, transform 0.25s;
}
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: white;
  padding: 2rem 2.5rem;
  width: 30em;
  border-radius: 0.5rem;
}

.show-modal {
  opacity: 1;
  visibility: visible;
  transform: scale(1.0);
  transition: visibility 0s linear 0s, opacity 0.25s 0s, transform 0.25s;
}